<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>signup</title>
</head>
<body>
  <!-- 
    form
      action : 요청 보내는 곳
      method : 요청 보내는 방식
        GET : DB에서 어떠한 값을 꺼내오거나, 단순 요청.
          - URL에 querystring 으로 요청이 보내짐
          = ?username=takenpassword=123
        POST : DB의 어떠한 값을 추가하거나 삭제하는 경우.
          - HTTP 요청의 body (url에 보이지 않음)
          - django에서 POST 요청으로 form을 보내는 경우 보안상의 이유로 항상 csrf_token 을 넣어야함
  -->
  <form action="/signup_result/" method="POST">
    {% csrf_token %} <!-- setting.py의 MIDDLEWARE 에 있음 -->
    <label for="username">사용자이름 : </label>
    <input id="username" type="text" name="name">
    <br>
    <label for="userpsw">비밀번호 : </label>
    <input id="userpsw" type="password" name="psw">
    <br>
    <label for="userpsw_confirm">비밀번호 확인 : </label>
    <input id="userpsw_confirm" type="password" name="psw_confirm">
    <br>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>