<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
</head>
<body>
  <a href="/pages/hello/연용흠/">hello</a>
  <a href="/pages/lotto/">lotto</a>
  <a href="/pages/dinner/">dinner</a>
  <a href="/pages/isitgwangbok/">isitgwangbok</a>

  <a href="/pages/ping/">ping</a>
  <a href="/pages/signup/">signup</a>
  <a href="/pages/about/연용흠/26/">about</a>
  <h1>와~~~~</h1>
</body>
</html>